<h1>Notes</h1>
<%= link_to "new", notes_new_path %>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>title</th>
    <th>body</th>
    <th>actions</th>
  </tr>
  </thead>
  <tbody>
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.id %></td>
      <td><%= link_to note.title, note_path(note) %></td>
      <td><%= note.title %></td>
      <td><%= note.body %></td>
      <td><%= link_to "edit", edit_note_path(note) %></td>
    </tr>
  <% end %>
  </tbody>
</table>